<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Book</title>
</head>
<body>
<h1>New Book</h1>

<form th:action="@{/}" th:object="${book}" method="post">
    Title: <input type="text" th:field="*{title}"><br>
    Author: <input type="text" th:field="*{author}"><br>
    Genre: <input type="text" th:field="*{genre}"><br>
    Pages: <input type="number" th:field="*{pages}"><br>
    Description: <textarea th:field="*{description}"/><br>
    <button type="submit">Create</button>
</form>

<a th:href="@{/}">Back to list</a>
</body>
</html>
